.camera-input {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  top: 98px;
  left: 88px;
  box-shadow: 3px 8px 12px -3px #d1d7e6;
}

.top-bg {
  //background: url('../../../assets/images/bg-cover.jpg') center;
  background-size: cover;
  height: 50%;
  width: 100%;
  position: relative;
}

.pro-pic-container {
  position: relative;
  backdrop-filter: blur(6px);
  background-color: #ffffff4f;
  border-radius: 50%;
}

.pro-text-container {
  position: absolute;
  bottom: 0;
  height: 4.5rem;
  backdrop-filter: blur(6px);
  background-color: #00000096;
}
